.ace_autocomplete {
  z-index: 10000;
  font-family: "maple mono", monospace !important;
  font-size: 14px !important;
  line-height: 1.8 !important;
  min-width: 400px !important;
  background-color: rgb(var(--v-theme-surface)) !important;
  color: rgb(var(--v-theme-on-surface)) !important;
  border: 0px !important; /* 去掉边框 */
  border-radius: 4px; /* 可选：圆角 */
}
.ace_doc-tooltip,
.ace_tooltip {
  z-index: 10000;
  font-family: "maple mono", monospace !important;
  font-size: 14px !important;
  line-height: 1.8 !important;
  min-width: 400px !important;
  background-color: rgba(var(--v-theme-surface),0.90) !important;
  color: rgba(var(--v-theme-on-surface),0.85) !important;
  border: 0px !important; /* 去掉边框 */
  border-radius: 4px; /* 可选：圆角 */
  padding: 8px; /* 可选：内边距 */
}
.ace-tie .ace_error {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-12 -14 48 48'><path fill='red' d='M13,13H11V7H13M13,17H11V15H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z'/></svg>") !important;
}
.ace-tie .language_highlight_error {
  border-bottom: 2px solid red !important;
}
.ace-tie .language_highlight_warning {
  border-bottom: 2px solid orange !important;
}
.ace-tie .language_highlight_info {
  border-bottom: 2px solid #1a85ff !important;
}
.ace-tie .ace_warning {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-12 -14 48 48'><path fill='orange' d='M13,13H11V7H13M13,17H11V15H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z'/></svg>") !important;
}
/* #lightbulb {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' ><path fill='yellow' d='M12,6A6,6 0 0,1 18,12C18,14.22 16.79,16.16 15,17.2V19A1,1 0 0,1 14,20H10A1,1 0 0,1 9,19V17.2C7.21,16.16 6,14.22 6,12A6,6 0 0,1 12,6M14,21V22A1,1 0 0,1 13,23H11A1,1 0 0,1 10,22V21H14M20,11H23V13H20V11M1,11H4V13H1V11M13,1V4H11V1H13M4.92,3.5L7.05,5.64L5.63,7.05L3.5,4.93L4.92,3.5M16.95,5.63L19.07,3.5L20.5,4.93L18.37,7.05L16.95,5.63Z'/></svg>") !important;
} */

/*
*/

.ace-tie .ace_fold-widget,
.ace-tie .ace_fold-widget:hover,
.ace-tie .ace_fold,
.ace-tie .ace_fold:hover {
  transition: background-color 0.3s ease, fill 0.3s ease, border-color 0.3s ease;
}

.ace-tie .ace_fold-widget {
  background-color: transparent !important;
  border: none !important; /* 删除边框 */
  outline: none !important; /* 删除可能的轮廓 */
  box-shadow: none !important; /* 删除阴影 */
}
.ace-tie .ace_fold-widget:hover {
  background-color: transparent !important;
  fill: yellow !important;
  border: none !important; /* 删除边框 */
  outline: none !important; /* 删除可能的轮廓 */
  cursor: pointer !important; /* 添加指针样式 */
}

.ace-tie .ace_fold {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' ><path fill='gray' d='M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z'/></svg>")
    no-repeat center !important;
  background-size: 16px 16px !important;
  border: none !important; /* 删除边框 */
}
.ace-tie .ace_fold:hover {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' ><path fill='yellow' d='M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z'/></svg>")
    no-repeat center !important;
  background-size: 16px 16px !important;
  border: none !important; /* 删除边框 */
  cursor: pointer !important; /* 添加指针样式 */
}
