.ace-tie .ace_gutter-active-line {
  background-color: #3b3735;
}

.ace-tie {
  color: #eceff1;
  background-color: #1d2021;
}

.ace-tie .ace_invisible {
  color: #7c6f64;
}

.ace-tie .ace_marker-layer .ace_selection {
  background: rgba(250, 166, 26, 0.14); 
}

.ace-tie.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
}

.ace-tie .ace_keyword {
  color: #fabd2f; 
  font-weight: 600;
}

.ace-tie .ace_comment {
  font-style: italic;
  color: #928374; 
}

.ace-tie .ace-statement {
  color: #fe8019;
}

.ace-tie .ace_variable {
  color: #b8bb26;
}

.ace-tie .ace_variable.ace_language {
  color: #8ec07c;
}

.ace-tie .ace_constant {
  color: #d3869b; 
}

.ace-tie .ace_constant.ace_language {
  color: #d3869b; 
}

.ace-tie .ace_constant.ace_numeric {
  color: #d75f5f; 
}

.ace-tie .ace_string {
  color: #b8bb26; 
}

.ace-tie .ace_support {
  color: #83a598; 
}

.ace-tie .ace_support.ace_function {
  color: #83a598; 
  font-weight: 500;
}

.ace-tie .ace_storage {
  color: #fe8019; 
}


.ace-tie .ace_keyword.ace_operator,
.ace-tie .ace_punctuation.ace_operator {
  color: #83a598; 
}

.ace-tie .ace_marker-layer .ace_active-line {
  background: rgba(88, 74, 60, 0.18);
}

.ace-tie .ace_marker-layer .ace_selected-word {
  border-radius: 4px;
  border: 4px solid rgba(250, 166, 26, 0.12);
}

.ace-tie .ace_print-margin {
  width: 5px;
  background: #32302f;
}

.ace-tie .ace_cursor {
  color: #fb4934;
}

.ace-tie .ace_indent-guide {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNQUFD4z6Crq/sfAAuYAuYl+7lfAAAAAElFTkSuQmCC")
    right repeat-y;
  opacity: 0.35;
}

.ace-tie .ace_indent-guide-active {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQIW2PQ1dX9zzBz5sz/ABCcBFFentLlAAAAAElFTkSuQmCC")
    right repeat-y;
  opacity: 0.6;
}

.ace-tie .ace_marker-layer .ace_warning {
  background: rgba(250, 166, 26, 0.08);
}

.ace-tie .ace_marker-layer .ace_error {
  background: rgba(215, 95, 95, 0.12);
}
